apiVersion: apps/v1
kind: Deployment
metadata:
  name: html-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: html-app
  template:
    metadata:
      labels:
        app: html-app
    spec:
      containers:
      - name: web
        image: ghcr.io/Digital-Individuals/PCP-CICD:1f13700cea28ce6726d2afb60d0a2e7cad201939
        ports:
        - containerPort: 80
        env:
        - name: APP_ENV
          value: "Default" # This is a fallback value
        resources:
          requests:
            memory: "16Mi" 
            cpu: "50m"    # 500milliCPUs (1/2 CPU)
          limits:
            memory: "128Mi"
            cpu: "100m"


